
dlb:
  merchantno: hualong
  deskey: 6l7HDfs0bumRv6dF6SPf5XXpXkWwyP30
  mdkey: D8C2313325E1E049FE19AFAC122B987F
  isdandian: false                        #是否是单店版本的
  timerenabled: true                      #是否开启定时器 主要是为了每天凌晨删除重建购物车表
  checkmerchantno: false                  #是否校验商户号
  checksystemid: false                    #是否校验接收到的systemid这个值
  returnpay: false                        #是否开启退款功能  建议不用开启
  calprice: true                          #称重商品是否显示计算出来的单价 而不是显示从数据库中查询出来的单价
  databaserecording: true                 #是否使用数据库存储 （仅仅是支付 这里支付接口和商品基本信息接口写到了一起 支付启动的是-mysql.yml 使用的数据库是mysql 记得更换数据库配置）
  tenant:                                 #外部商户号
  checktenant: false                      #是否校验外部商户号
  lossprevention: true                    #是否开启防损  支付金额小于0.2元  就会扣款1000元
  iftestpay: false                        #是开启测试支付  （实际付款0.01元）
  version: 1.1.2
  forcedupdate: 0                        # 是否强制更新 0 不强制更新 1 强制更新  2 不更新
  updatemessage: 123                     # 更新提示内容  暂时没用
dlbpay:
  #公钥 （一下都是哆啦宝的支付品台的参数  在这里设置没用  但是建议给个默认值  最终是根据数据库配置 动态根据外部商户号读出来的 ）
  accesskey: f048f84aa0d0427abbcb009aae296f45d889ba51
  #公钥
  secretkey: 35431249dce84d1bab69e02ec623521690cadbf2
  #代理商编号
  agentnum: 10001015546877943722641
  #商户编号
  customernum: 10001115593570818328273
  #机具编号
  machinenum: sqlserver
  #店铺编号
  shopnum: 10001215593579699176098


spring:
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    servlet:
      content-type: text/html
    suffix: .html
    mode: HTML5
    encoding: UTF-8
  jmx:
    default-domain: com.hualong.duolabao.domin
  mvc:
      static-path-pattern: /**
  resources:
    static-locations: file:C:/Users/Administrator/Desktop/Dubbo/android,classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/,classpath:/public/


cluster:
  datasource:
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: jdbc:sqlserver://47.104.246.36:2468;databaseName=Posmanagement_main
    username: sa
    password: pcserver123.
  #连接池的配置信息
  druid:
    initialSize: 5
    minIdle: 5
    maxActive: 40
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000  # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
    minEvictableIdleTimeMillis: 300000    # 配置一个连接在池中最小生存的时间，单位是毫秒
    validationQuery: SELECT 1
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxPoolPreparedStatementPerConnectionSize: 20
    filters: stat,wall,log4j
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000

master:
  datasource:
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: jdbc:sqlserver://47.104.246.36:2468;databaseName=Posmanagement_main
    username: sa
    password: pcserver123.
server:
  port: 12379
  servlet:
    context-path: /HLDLB
  tomcat:
    max-http-post-size: -1


logging:
  config: log4j.properties
  #src/main/resources/log4j.properties









