<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hualong.duolabao.dao.pos.PosMain">


    <select id="GettDlbPosConfiguration" parameterType="java.lang.String" resultType="com.hualong.duolabao.domin.tDlbPosConfiguration" >
        <![CDATA[
        SELECT cartId,storeId,sn,posName,posid FROM tDlbPosConfiguration
        WHERE cartId=#{cartId}
        ]]>

    </select>

    <!--连锁的获取商品-->
    <select id="GetcStoreGoods" resultType="com.hualong.duolabao.domin.cStoreGoods" >

        SELECT cGoodsNo,cGoodsName,cBarcode,cStoreNo,cStoreName,cUnit,
        cSpec,fNormalPrice,fVipPrice,fVipScore,fCKPrice,isWholePack=1,fVipScore,
        youHuiAmount=0.0,amount=fNormalPrice,num=1,packRate=1,bWeight=isnull(bWeight,0) FROM t_cStoreGoods
        WHERE cStoreNo=#{cStoreNo,jdbcType=VARCHAR}
        AND  <![CDATA[ ( ]]> cBarcode IN
        <foreach collection="barcodeList" item="barcode" index="index"
                 open="(" close=")" separator=",">
            #{barcode}
        </foreach>

        OR cGoodsNo IN
        <foreach collection="barcodeList" item="barcode" index="index"
                 open="(" close=")" separator=",">
            #{barcode}
        </foreach>

        OR  cGoodsNo IN
        <![CDATA[ ( ]]>
        SELECT cGoodsNo_parent FROM t_Goods_Union WHERE cBarcode IN
        <foreach collection="barcodeList" item="barcode" index="index"
                 open="(" close=")" separator=",">
            #{barcode}
        </foreach>
        <![CDATA[ ) ]]>


        <![CDATA[ ) ]]>
    </select>

    <!--单店获取商品-->
    <select id="GetcStoreGoodsDanDian" resultType="com.hualong.duolabao.domin.cStoreGoods" >

        SELECT cGoodsNo,cGoodsName,cBarcode,cUnit,
        cSpec,fNormalPrice,fVipPrice,fVipScore,fCKPrice,isWholePack=1,fVipScore,
        youHuiAmount=0.0,amount=fNormalPrice,num=1,packRate=1,bWeight=isnull(bWeight,0) FROM t_Goods
        WHERE 1=1
        AND  <![CDATA[ ( ]]> cBarcode IN
        <foreach collection="barcodeList" item="barcode" index="index"
                 open="(" close=")" separator=",">
            #{barcode}
        </foreach>

        OR cGoodsNo IN
        <foreach collection="barcodeList" item="barcode" index="index"
                 open="(" close=")" separator=",">
            #{barcode}
        </foreach>

        OR  cGoodsNo IN
        <![CDATA[ ( ]]>
        SELECT cGoodsNo_parent FROM t_Goods_Union WHERE cBarcode IN
        <foreach collection="barcodeList" item="barcode" index="index"
                 open="(" close=")" separator=",">
            #{barcode}
        </foreach>
        <![CDATA[ ) ]]>


        <![CDATA[ ) ]]>
    </select>



</mapper>
